@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eau Claire<br />
    Wisconsin<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ehwang1@student.cvtc.edu">ehwang1@student.cvtc.edu</a><br />
</address>