@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Animals of our birth years</h1>
    <p class="lead">Do you know your animal of your birth year?  Animals of our birth years need our helps.</p>
    <p><a href="http://savelife.or.kr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find your birth year animal</h2>
        <p>
            Who is your birth year animal?  We are their last chance to live.
        </p>
        <p><a class="btn btn-default" href="https://www.ekara.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How we can help the animals</h2>
        <p>Were you born in rat(mouse) year?  How about helping the lab rat(mouse) by funding the alternatives to animal testing or buying the cruelty-free products?</p>
        <p><a class="btn btn-default" href="https://cafe.naver.com/thebeagle/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Humanimals</h2>
        <p>Human and Animal are born free and happy.</p>
        <p><a class="btn btn-default" href="http://www.projectmoonbear.org/">Learn more &raquo;</a></p>
    </div>
</div>